/*  pagina de recepcion */
.form-btn .avart-img{
  max-width:200px;
}
.avatar {
  border-radius:50%;
}
.no-marging{
  margin:0;
}
.alert-col .alert.display{
  opacity:1
}
.container.profile{
  padding:10px 20px;
}
.center{
  text-align:center;
}
.relative{
  position:relative;
}
.absolue{
  position:absolute;
}
.profile-row{
  margin-top:55px;
}
.absolue.center{
  left:50%;
  top:50%;
  transform:translate(-50%,0);
}
.alert{width:40%;
}
.alert-col .alert{
  padding:10px;
  border-radius:0;
  transition:all .5s ease;
  opacity:0;
}
hr{
  height:2px;
}
.content-right{
  float:right;
}
.form-btn{
  min-width:100px;
  margin:0 5px;
}
.avatar-bg{
  background:url(https://image.flaticon.com/icons/svg/15/15081.svg) 50% 50%;
  height:200px;
  width:200px;
  background-size:cover;
  border-radius:50%;
  margin-left:calc(50% - 100px);
}
/*pagina de inicio*/
h1{
  padding:40PX;
  padding-bottom:40;
}
.divrecepcion{
  padding:40px;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:70px;
  padding-left:70px;
}
.btnrecepcion{
  background-color:#222222;
  width:100%;
  max-height:85px;
  min-height:0px;
  height:99px;
  color:#ffffff;
}
.divoficina{
  padding:40px;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:70px;
  padding-left:70px;
}
.btnoficina{
  background-color:#222222;
  width:100%;
  max-height:85px;
  min-height:0px;
  height:99px;
}
.divadministracion{
  padding:40px;
  padding-top:40px;
  padding-bottom:40px;
  padding-right:70px;
  padding-left:70px;
}
.btnadministracion{
  background-color:#222222;
  width:100%;
  max-height:85px;
  height:99px;
}
/*pagina de Empresa/usuario-Administrador/usuario*/
h2{
  padding:40px;
}

/* splash */

#splash{
  background-color: black;
  
}

h3{
  color:rgb(247,248,249);
  font-family:Allan, cursive;
  margin-top:290px;
}

p{
  color: #ffffff;
}

h3{
  font-family:Allan,;
  margin-top:290px;
  margin-bottom: 150px;
}